.jumbotron{
    background-color: #1E9E6D;
    text-align: center;
}
.row {
    padding-bottom: 100px;
}
#price {
    text-align: center;
}
#hiddenText{
    padding-top: 8px;
    display: none;
    text-align: center;

}
img {
    margin-top: 100px;

}
